#viz-bg {
	fill: #29313F; 
}


.title-bg {
	fill: #3D495E;
    stroke: #333333;
	stroke-width: 2;
    y: -5px;
    x: -5px;
}

.title-text {
	fill: #8A9DB5;
	stroke: none;
	font-size: .97em;
	font-family: 'Lato', sans-serif;
	text-align: center;
    font-weight: 700;
    
}

.clue-bg {
	fill: #FFFFFF;
    filter: drop-shadow(5px 5px 5px #252525);
    y: -5px;
}

image {
    filter: drop-shadow(5px 5px 5px #252525);
    stroke: none !important;
    stroke-width: 0 !important;
}

.clue-text {
	fill: #000000;
	stroke: none;
	font-family: 'Lato', sans-serif;
	text-align: center;
    
}