#viz-bg {
	fill: #002A32; 
}


.title-bg {
	fill: none;
    stroke: none;
    y: -5px;
    x: -5px;
}

.title-text {
	fill: #E4DFDA;
	stroke: none;
	font-size: .97em;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
    font-weight: 700;
    border-bottom: #000000;
	border-bottom: 4px solid #48A9A6;
}

.clue-bg {
	fill: #FFFFFF;
    filter: drop-shadow(5px 5px 5px #252525);
    y: -5px;
}

image {
    filter: drop-shadow(5px 5px 5px #252525);
}

.clue-text {
	fill: #002A32;
	stroke: none;
	font-family: 'Lato', sans-serif;
	text-align: center;
    
}