#viz-bg {
	fill: #000000; 
}

.title-bg {
	fill: #000000;
	stroke: #00FF00;
	stroke-width: 2;
}

.title-text {
	color: #00FF00;
	font-size: 16pt;
	font-family: sans-serif;
	text-align: center;
}

.clue-bg {
	fill: #FFFFFF;
	stroke: #AEAEAE;
	stroke-width: 2;
}

.clue-text {
	color: #000000;
	font-family: sans-serif;
	text-align: center;
}

.freeze-bg {
	fill: #000000;
	stroke: #FFFFFF;
	stroke-width: 2;
}

.freeze-text {
	color: #FFFFFF;
	font-family: sans-serif;
	text-align: center;
}

#freeze-block {
	fill: #3399FF;
	fill-opacity: 0.5;
}