#viz-bg {
	fill: #29313F; 
}

.freeze-bg {
	fill: #3D495E;
    y: -5px;
    x: -2px;
    filter: drop-shadow(5px 5px 5px #252525);
}

.freeze-text {
	fill: #FFFFFF;
	font-family: 'Lato', sans-serif;
	text-align: center;
}