body {
	background: #000000;
	touch-action: none;
}

#start_app_button{
	margin-left: auto;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius:6px;
	border:2px solid #FFFFFF;
	background: #000000;	
	color: #FFFFFF;
	width: 20%;
	height: 50px;
	font-family: sans-serif;
	font-size: 20pt;
}

.start_app_button_wrapper {
	text-align: center;
}