#viz-bg {
	fill: #29313F; 
}

#circle-one {
	fill: #FF0000;
}

#circle-two {
	fill: #00FF00;
}

#rectangle-one {
	fill: #0000FF;
}

#rectangle-two {
	fill: #FFFF00;
}

.demo-text-bg {
	fill: #FFFFFF;
    filter: drop-shadow(5px 5px 5px #252525);
    y: -5px;
}

.demo-text-text {
	color: #000000;
	font-family: 'Lato', sans-serif;
	text-align: center;
}